aside {
  img {
    width: 30px;
  }
}

.derecha {
  div {
    height: fit-content;
  }

  h2 {
    font-size: 1.5rem;
  }
  p,
  span {
    font-size: 0.8rem;
  }
  span {
    font-weight: bold;
  }
}
