aside {
  background-color: rgba(250, 250, 250, 1);

  img {
    width: 30px;
  }
}

.derecha {
  background-color: white;

  div {
    height: fit-content;
  }

  h2 {
    font-size: 1.5rem;
  }
  p,
  span {
    font-size: 0.8rem;
  }
  span {
    font-weight: bold;
  }
}
