.woof {
  &__foto {
    flex-shrink: 0;
    width: 60px;
    img {
      width: 50px;
      height: 50px;
    }
  }
  &__cuerpo {
    flex-grow: 1;

    &__header {
      h2 {
        font-size: 1.1rem;
      }
      span {
        height: fit-content;
        min-width: 50px;
        font-size: 0.8rem;
      }
    }

    &__texto {
      p {
        max-width: 350px;
        font-size: 0.9rem;
      }
    }

    img {
      width: 100%;
      max-width: 700px;
    }

    &__info {
      width: 90%;
      font-size: 0.7rem;
      word-spacing: 2px;

      .views {
        display: none;
      }
    }
  }
  &__opciones {
    flex-shrink: 0;

    width: 15px;
  }
}

@media screen and (min-width: 425px) {
  .woof {
    &__cuerpo {
      &__info {
        .views {
          display: block;
        }
      }
    }
  }
}
